body{
    font-family: 'Roboto', sans-serif;
}

.chats{
    height:80vh;
    width: 750px;
}
.chat-box{
    height:10vh;
    border-color:#5B2F91 !important;
}
.chat-box:hover{
    background-color: #cfcdcd;
}