body{
    font-family: 'Roboto', sans-serif;
}

.chats{
    height:80vh;
    width: 750px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-box{
    border-color:#5B2F91 !important;
}
.chat-box:hover{
    border-color:#F99417 !important;
}


.box{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height:40rem;
}
.sender-img{
    width: 70px;
    height: 70px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
.sender-img img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
}