body{
    font-family: 'Roboto', sans-serif;
}

.chats{
    height:80vh;
    width: 750px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-box{
    height:10vh;
    border-color:#5B2F91 !important;
}
.chat-box:hover{
    background-color: #cfcdcd;
}
.box{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}